
<div class="container">
    <div class="row">
      <div class="col-12 col-md-6">      
        <mat-card-subtitle  class="sub-title">
            Choose your Operation
        </mat-card-subtitle>
        <hr> 
        <ul class="menu">                        
            <li> Account             
                <ul class="sub-menu">            
                <li><a href="#"> Current Balance </a></li>            
                <li><a href="#"> Get Money </a></li>            
                <li><a href="#"> Add money </a></li>                
            </ul>            
            </li>            
            <li> Payments          
                <ul class="sub-menu">            
                <li><a href="#"> Internal </a></li>            
                <li><a href="#"> External </a></li>            
                <li><a href="#"> Bilds </a></li>                         
            </ul>            
            </li>                                               
            </ul>
      </div>
    </div>
  </div>