
<div class="container">
    <div class="row">
      <div class="col-12 col-md-6">      
        <mat-card-subtitle  class="sub-title">
            Choose your Operation
        </mat-card-subtitle>
        <hr> 
        <ul class="menu">

            <li><a href="#"> Home </a></li>
            
            <li><a href="#"> About Us </a>
            
            <ul class="sub-menu">
            
            <li><a href="#"> News </a></li>
            
            <li><a href="#"> Media </a></li>
            
            <li><a href="#"> Events </a></li>
            
            </ul>
            
            </li>
            
            <li><a href="#"> Gallery </a>
            
            <ul class="sub-menu">
            
            <li><a href="#"> Wedding </a></li>
            
            <li><a href="#"> Birthday </a></li>
            
            <li><a href="#"> Christening </a></li>
            
            <li><a href="#"> Seasonal </a></li>
            
            <li><a href="#"> Other </a></li>
            
            </ul>
            
            </li>
            
            <li><a href="#"> Flavours </a>
            
            <ul class="sub-menu">
            
            <li><a href="#"> Cake and Cookies </a></li>
            
            <li><a href="#"> Cup Cakes </a></li>
            
            </ul>
            
            </li>
            
            <li><a href="#"> Portions </a></li>
            
            <li><a href="#"> Prices & Packaging </a></li>
            
            <li><a href="#"> Ordering </a></li>
            
            <li><a href="#"> Contact Us </a></li>
            
            <li><a href="#"> Testimonials </a></li>
            
            </ul>






      </div>
    </div>
  </div>